<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/swiper.css">

    <link rel="stylesheet" href="./css/main-page.css">   
</head>
<body>
    <div id="top_header">
        <div id="top_wrapper">
            

            <section id="navigation_menu">
                <div id="logo">술담화</div>
                <ul id="lending_list">
                    <li class="header_list_menu"> <a href="">스토어</a></li>
                    <li class="header_list_menu" id="gudok"> <a href="">구독</a></li>
                    <li id="inner_li">
                        <div id="inner">
                            <img src="./image/test.png" alt="돋보기">
                            <span id="inner_span">무엇을 찾고 계신가요?</span>
                        </div>
                    </li>
                </ul>
            </section>
            

            <section id="user_menu">
                <ul id="icon_menus">
                    <li id="login">
                        <span>로그인/회원가입</span>
                        <span id="right_arrow"><img src="./image/right-arrow.png" alt="오른쪽 화살표"></span>
                    </li>
                    
                    <li>
                        <img src="./image/cart.png" alt="장바구니">
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <div class="contents_container">
        <div id="banner"></div>
        
        <div id="tap_wraper" >
            <div id="tap_container">
                <div class="tap_list">담화박스 안내</div>
                <div class="tap_list">리뷰</div>
                <div class="tap_list">골라보기</div>
            </div>
        </div>
        
        <div id="review_ad_wraper">
            <div id="review_ad_container">
                <section id="review_ad_title">
                    <div id="review_ad_title_word">
                        누적 40만 구독자가
                        <br>
                        함께하고 있어요!
                    </div>
                    
                </section>
                <section id="review_ad_data_group">
                    <div class="review_ad_data">
                        <div>리뷰수n</div>
                        <div id="review_number">15,563</div>
                    </div>
                    <div class="review_ad_data">
                        <div>만족도</div>
                        <div id="review_average">4.9</div>
                    </div>
                </section>
                
            </div>
        </div>

    </div>

    

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/swiper.js"></script>
</body>
</html>