<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/swiper.css">

    <link rel="stylesheet" href="./css/main-page.css">   
</head>
<body>
    <div id="top_header">
        <div id="logo">
            <h1>니가사면 나도 끼지</h1>
        </div>
       
        <div id="suul_menu">
            <div class="suul_item">양주</div>
            <div class="suul_item">와인</div>
            <div class="suul_item">소주</div>
            <div class="suul_item">탁주</div>
            <div class="suul_item">사케</div>
            <div class="suul_item">맥주</div>
        </div>

        <div id="top_search_zone">
            <input type="text" id="top_search" placeholder="ex) 글렌피딕 ">
        </div>

        <ul id="icon_menus">
            <li>내정보</li>
            <li>장바구니</li>
        </ul>
        
    </div>

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./image/glen2.jpg" alt="글렌피딕"></div>
      <div class="swiper-slide"><img src="./image/wine2.png" alt="와인"></div>
      <div class="swiper-slide"><img src="./image/soju.jpg" alt="소주"></div>
      <div class="swiper-slide"><img src="./image/takju.jpg" alt="탁주"></div>
      <div class="swiper-slide"><img src="./image/sake.jpg" alt="사케"></div>
      <div class="swiper-slide"><img src="./image/bear.png" alt="맥주"></div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

    <div id="contents">
        <div class="recommend_suul" id="best_suul">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="recommend_suul" id="">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="recommend_suul" id="">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="recommend_suul" id="">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="recommend_suul" id="">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="recommend_suul" id="">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/swiper.js"></script>
</body>
</html>